<br />

<div class="booyah-box col-10 offset-1">
  <h1>Team</h1>

  <p>
    Currently I don't have a team, I build this website by myself. However, feel free to reach me:
    <br />
    <br />
    <div class="text-center social">
      <%= link_to 'https://www.linkedin.com/in/alperduru/' do %>
        <span class="fa fa-linkedin-square fa-2x social-button"></span>
      <% end %>
      <%= link_to 'https://twitter.com/alperenesduru' do %>
        <span class="fa fa-twitter-square fa-2x social-button"></span>
      <% end %>
      <%= link_to 'https://github.com/Alper-Enes-DURU' do %>
        <span class="fa fa-github-square fa-2x social-button"></span>
      <% end %>
    </div>
  </p>
</div>  